@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

#section {
    background-image: url('/assets/img/bg2.png');
    background-size: cover;
    /* background-position: center; */
}


.container-gallery img {
    width: 400px;
    margin: 10px;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

.container-gallery img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

.container-gallery {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
